// Place all the styles related to the Calculations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profit {
  color: green;
}

.loss {
  color: red;
}

.calculation-show-header form.button_to {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
}

.calculation-show-header h2 {
  margin-left: 20px;
}

.calculation-edit-form {
  line-height: 4;
  font-size: x-large;

  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.calculation-edit-form select {
  height: 34px;
  font-size: large;
}

.inline-form-line {
  margin: 10px;
}